<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    full name : <input type="text" name="full-name" value="<?php echo (isset($_POST['full-name']) ? $_POST['full-name'] : ''); ?>"><br>
    members : <input type="number" name="members" value="<?php echo (isset($_POST['number']) ? $_POST['number'] : ''); ?>"><br>
    phone :  <input type="text" name="phone" value="<?php echo (isset($_POST['phone']) ? $_POST['phone'] : ''); ?>"><br>
    not employee: <input type="radio" name="emp" value="1"> employee: <input type="radio" name="emp" value="2"> <br>
    <select name="city" id="">
        <?php
            foreach($args as $val)
                echo '<option>'.$val.'</option>';
        ?>
    </select><br>
    <input type="submit"><br>
</form>
<br>
<a href="/abdullahTask/">home</a><br>
</body>
</html>